__pycache__
.env
/venv/
venv
./venv
.~lock

app/app.py
app/spacy.py
app/stream
app/test.py
rfvect_pos_tagger.pickle
rf_pos_tagger.pickle
pos_model.h5
pos_model_direct.h5
cleaned_data.csv
test.py
app2.py
app.py
Dataset/bukusu_pos/.~lock.9lbk02_lhybk_pos.csv#


Dataset/dataverse_files.zip
Dataset/dataverse_files (1).zip
Dataset/dataverse_files_1.zip
Dataset/dataverse_files

models/

Dataset/Lumarachi_pos/
Dataset/pos_lumarachi/
app/Logooli.csv
app/Lumarachi.csv
app_v1.py
models_v1/
run_copy.py
version2_model/


Bukusulanguage.py
Copy_of_POS_Luhya_Imbalanced_Data.ipynb
LanguageBukusu.py
ModellingTesnsorboardlog.ipynb
Models.zip
Models/
Screenshot from 2024-06-17 15-07-42.png
Tensorboardmodellingmodels/
code3working.py
modellingtesnsorboardlog.py
pos_model_best.keras
pos_model_with_early_stopping14th.h5
postensorbord.py
